<div class="anexo-container">
  <p class="form-label">Anexos (limite de 1 por categoria)</p>
  
  <ul class="list-group">
    <li *ngFor="let categoria of categorias" class="list-group-item d-flex justify-content-between align-items-center">
      
      <span class="categoria-descricao">{{ categoria.label }}</span>

      <div class="anexo-actions">
        <div *ngIf="uploadEmAndamento[categoria.id]" class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

        <ng-container *ngIf="!uploadEmAndamento[categoria.id]">
          <ng-container *ngIf="getAnexoPorCategoria(categoria.id) as anexo; else uploadTemplate">
            <div class="anexo-existente">
              <a [href]="anexo.url" target="_blank" class="anexo-link" title="Clique para ver o anexo">
                <i class="bi bi-file-earmark-text"></i> {{ anexo.nomeArquivo }}
              </a>
              <button (click)="removerAnexo(anexo)" type="button" class="btn btn-sm btn-danger ms-2" title="Remover anexo">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </ng-container>

          <ng-template #uploadTemplate>
            <label class="btn btn-sm btn-outline-primary">
              <i class="bi bi-upload"></i> Enviar Arquivo
              <input type="file" (change)="onFileSelected($event, categoria)" class="d-none">
            </label>
          </ng-template>
        </ng-container>

      </div>
    </li>
  </ul>
</div>