.home-hero {
  background: linear-gradient(90deg, #3085da, #1565c0);
}

footer a:hover {
  color: #ffc107 !important;
}

@media (min-width: 768px) {
  .home-hero h1 { 
    font-size: 32px; 
  }
  
  .home-hero .subtitle { 
    font-size: 18px; 
  }
}
